<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lecture Project</h1>
    <a href="/dogs/new">create a show</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        {% for dog in all_dogs %}
            <tr>
                <td>{{ dog.id }}</td>
                <td>{{ dog.name }}</td>
                <td>{{ dog.name }}</td>
                <td>
                    <a href="/dogs/{{dog.id}}">show</a>
                    <form action="/dogs/{{ dog.id }}/destroy" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="DELETE">
                    </form>

                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>