<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ show.id }}</title>
</head>
<body>
    <h1>Edit Show</h1>
    <form action="/shows/{{ show.id }}/update" method="POST">
        {% csrf_token %}
            Title<input type="text" value="{{ show.title }}" name="title">
            Network<input type="text" value="{{ show.network }}" name="network">
            Release Date<input type="date" value="{{ show.release|date:'Y-m-d' }}" name="release">
            Description<textarea name="desc" id="" cols="30" rows="10">{{ show.desc }}</textarea>
        <button>Submit</button>
    </form>
</body>
</html>