<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users_app</title>
</head>
<body>
    <h1>All The Users</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
        {% for user in all_the_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email_address }}</td>
                <td>{{ user.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/submit" method="POST">
        {% csrf_token %}
            <label for="fname">First Name</label>
            <input type="text" name="fname" value="form">
            <label for="lname">Last Name</label>
            <input type="text" name="lname" value="form">
            <label for="email">Email</label>
            <input type="email" name="email" value="form">
            <label for="age">Age</label>
            <input type="number" name="age" value="form" maxlength="4">
        <button>Add</button>
    </form>
</body>
</html>